td{
	text-align: center;
	border:1px solid #DDD;
}

tr{
	
}

#main-box{
	border:1px solid #CCC;
	min-height: 300px;
	 clear: both;
	 position: relative;
}
#table-box{
	min-height: 95%;
}
#footer{
	height: 5%;
	width: 100%;
	float:;
	border:1px solid #000;
	position: relative;
	bottom: 1px;
}
.task-container {
	width: 200px;
	height:300px;
	border:1px solid #000;
}
.task-header{
	height: 10%;
	width: 100%;
	border-bottom:1px solid #000;
	background: #eee;
	overflow-y:scroll;
}
.task-header .deletion-icon{
	float:right;
}
.text-title{
	color: #000;
	font-size:12px;	
	text-align:center;
	border:1px solid green;
	margin-top:-0.5px;
	width:80%;
}
.deletion-icon{
	
}